{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Practice page
{% endblock %}
{% block content %}



<div class="container">

    <div class="column" style="padding-right: 2em;" >

<p> Please indicate the probability with which you think that <br>
    the statement is true. </p>

{% if player.check_order == "high_low" %}
<p>
    <img src = "{% static 'AI_Fotos/Pic1.jpg' %}" width="128" height="128" />
</p>
<table >
    <tr>
        <th> </th>
        <th> Your answer </th>
    </tr>
    <tr>
        <td style="padding-right:30px">
            Statement 1
        </td>
        <td> {{ form.demo_11_true }} </td>
    </tr>
    <tr>
        <td style="padding-bottom:50px"> </td><td style="padding-bottom:50px"></td>
    </tr>
</table>
{% endif %}


{% if player.check_order == "low_high" %}
<p>
    <img src = "{% static 'AI_Fotos/Pic1.jpg' %}" width="128" height="128" />
</p>
<table >
    <tr>
        <th> </th>
        <th> Your answer </th>
    </tr>
    <tr>
        <td style="padding-right:30px">
            Statement 1
        </td>
        <td> {{ form.demo_11_true }} </td>
    </tr>
    <tr>
        <td style="padding-bottom:50px"> </td><td style="padding-bottom:50px"></td>
    </tr>
</table>
{% endif %}

                        {% next_button %}
</div>



  <style>
/* Create two equal columns that floats next to each other */
.column {
  float: left;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}
</style>


<input type="hidden" name="timeSpent_Demo_b1_1a1" id="timeSpent_Demo_b1_1a1"/>

<script>
    var pageTimeElapsed = 0;
    var pageTimerID = -1;
    function pageTick() {
    pageTimeElapsed++
    document.getElementById("timeSpent_Demo_b1_1a1").value = pageTimeElapsed;
    }
    window.onload = function() {
    if(pageTimerID == -1){
    pageTimerID = setInterval(pageTick, 1);
  }
};
</script>
{% endblock %}
